-- ============================================
-- TTM 데이터베이스 스키마
-- ============================================
-- 프로젝트: TTM (Today's Total Management)
-- 생성일: 2026-01-06
-- 최종 수정일: 2026-01-14
-- DB 버전: MySQL 8.0
-- 문자셋: utf8mb4 (이모지 지원)
-- ============================================
-- 전체 테이블: 14개
--   - 회원: members, member_badge, member_disease, member_allergy, friend
--   - 건강: meal_log, meal_item, exercise_log, weight_log
--   - 커뮤니티: post, post_image, post_comment, post_like
--   - 배지: badge
-- ============================================
-- 주요 기능:
--   1. 회원 관리 (소셜 로그인, 프로필, 친구)
--   2. 식단 관리 (AI 음식 분석, 칼로리 추적)
--   3. 운동 관리 (운동 기록, 소모 칼로리)
--   4. 체중 관리 (체중 기록, 변화 추이)
--   5. 커뮤니티 (게시물, 댓글, 좋아요)
--   6. 배지 시스템 (목표 달성 보상)
-- ============================================

-- 데이터베이스 생성 (개발용: ttm_db, 운영용: we0123)
CREATE DATABASE IF NOT EXISTS ttm_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

USE ttm_db;

-- ============================================
-- 1. members 테이블 (회원 정보)
-- ============================================
-- 목적: 회원 기본 정보 및 프로필 관리
-- 주요 기능: 로그인, 회원가입, 프로필 조회/수정
-- 최적화: 23개 컬럼 (2026-01-07 최적화, 8개 컬럼 제거)
-- ============================================
CREATE TABLE IF NOT EXISTS members (
  -- 기본키
  member_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  
  -- 로그인 정보 (모두 UNIQUE, NULL 불가)
  email VARCHAR(255) NOT NULL UNIQUE COMMENT '이메일 (로그인 가능)',
  login_id VARCHAR(50) NOT NULL UNIQUE COMMENT '로그인 ID',
  password_hash VARCHAR(255) NOT NULL COMMENT 'bcrypt 해시 ($2b$12$...)',
  phone_number VARCHAR(20) NOT NULL UNIQUE COMMENT '전화번호 (010-XXXX-XXXX)',
  
  -- 개인 정보
  member_name VARCHAR(50) NOT NULL COMMENT '실명',
  nickname VARCHAR(50) NOT NULL UNIQUE COMMENT '닉네임 (커뮤니티 표시용)',
  gender ENUM('M','F','O') NOT NULL COMMENT '성별 (M:남성, F:여성, O:기타)',
  birth_date DATE NOT NULL COMMENT '생년월일',
  region VARCHAR(50) NOT NULL COMMENT '지역 (서울, 경기 등)',
  
  -- 건강 정보
  height_cm DECIMAL(5,2) DEFAULT NULL COMMENT '키 (cm, 선택)',
  weight_kg DECIMAL(5,2) DEFAULT NULL COMMENT '현재 체중 (kg) - 최근 weight_log에서 자동 업데이트',
  
  -- 회원 상태
  member_status ENUM('ACTIVE','INACTIVE','SUSPENDED','DELETED') NOT NULL DEFAULT 'ACTIVE' 
    COMMENT '회원 상태 (ACTIVE:활성, INACTIVE:휴면, SUSPENDED:정지, DELETED:탈퇴)',
  
  -- 타임스탬프
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '가입일',
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '최종 수정일',
  deleted_at DATETIME DEFAULT NULL COMMENT '탈퇴일 (소프트 삭제)',
  
  -- 약관 동의
  terms_agreed TINYINT(1) NOT NULL DEFAULT 0 COMMENT '이용약관 동의 (0:미동의, 1:동의)',
  
  -- 프로필 이미지
  profile_image VARCHAR(255) DEFAULT NULL COMMENT '프로필 이미지 경로 (uploads/profile/...)',
  
  -- 활동 설정
  activity_level ENUM('LOW','NORMAL','HIGH') DEFAULT NULL 
    COMMENT '활동 수준 (LOW:낮음, NORMAL:보통, HIGH:높음)',
  calorie_goal INT DEFAULT 2000 COMMENT '일일 칼로리 목표 (kcal)',
  water_goal DECIMAL(5,2) DEFAULT 2.0 COMMENT '일일 물 섭취 목표 (리터)',
  
  -- 알림 설정
  push_notification_enabled TINYINT(1) NOT NULL DEFAULT 1 COMMENT '푸시 알림 허용',
  marketing_notification_enabled TINYINT(1) NOT NULL DEFAULT 0 COMMENT '마케팅 알림 허용',
  
  -- 인덱스
  INDEX idx_members_status (member_status) COMMENT '회원 상태별 조회용'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT='회원 기본 정보 (23개 컬럼)';

-- ============================================
-- 2. meal_log 테이블 (식단 기록)
-- ============================================
-- 목적: 일일 식사 기록 관리
-- 주요 기능: 식단 등록, 조회, 칼로리 계산
-- 성능: meal_date, member_id 인덱스로 빠른 조회
-- ============================================
CREATE TABLE IF NOT EXISTS meal_log (
  -- 기본키
  meal_log_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  
  -- 식사 정보
  meal_date DATE NOT NULL COMMENT '식사 날짜',
  meal_type ENUM('BREAKFAST','LUNCH','DINNER','SNACK') NOT NULL 
    COMMENT '식사 유형 (아침/점심/저녁/간식)',
  total_calories INT DEFAULT 0 COMMENT '총 칼로리 (meal_item 합계)',
  notes TEXT COMMENT '메모 (특이사항, 기분 등)',
  meal_image VARCHAR(255) DEFAULT NULL COMMENT '식사 이미지 경로 (추후 확장용)',
  
  -- 타임스탬프
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성일',
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정일',
  
  -- 외래키
  member_id BIGINT UNSIGNED NOT NULL COMMENT '회원 ID (FK → members)',
  
  -- 인덱스 (날짜별, 회원별 조회 최적화)
  INDEX idx_meal_date (meal_date) COMMENT '날짜별 식단 조회용',
  INDEX idx_member_id (member_id) COMMENT '회원별 식단 조회용',
  UNIQUE KEY uniq_meal_log (member_id, meal_date, meal_type),
  
  -- 외래키 제약 (회원 삭제 시 식단도 삭제)
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT='식단 기록 (8개 컬럼)';

-- 3. meal_item 테이블 (식단 항목)
CREATE TABLE IF NOT EXISTS meal_item (
  meal_item_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  food_name VARCHAR(100) NOT NULL,
  calories_kcal DECIMAL(7,2) DEFAULT NULL,
  carbohydrates_g DECIMAL(7,2) DEFAULT NULL,
  protein_g DECIMAL(7,2) DEFAULT NULL,
  fat_g DECIMAL(7,2) DEFAULT NULL,
  sugar_g DECIMAL(7,2) DEFAULT NULL COMMENT '당류 (g)',
  sodium_mg DECIMAL(7,2) DEFAULT NULL COMMENT '나트륨 (mg)',
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  meal_log_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_meal_log_id (meal_log_id),
  FOREIGN KEY (meal_log_id) REFERENCES meal_log(meal_log_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 4. exercise_log 테이블 (운동 기록)
CREATE TABLE IF NOT EXISTS exercise_log (
  exercise_log_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  exercise_date DATE NOT NULL,
  exercise_type VARCHAR(50) NOT NULL,
  exercise_name VARCHAR(100) NOT NULL,
  duration_minutes INT NOT NULL,
  calories_burned INT DEFAULT 0,
  intensity_level ENUM('LOW','MODERATE','HIGH') DEFAULT 'MODERATE' COMMENT '운동 강도',
  notes TEXT,
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  member_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_exercise_date (exercise_date),
  INDEX idx_member_id (member_id),
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 5. post 테이블 (커뮤니티 게시물)
CREATE TABLE IF NOT EXISTS post (
  post_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  title VARCHAR(200) NOT NULL,
  content TEXT NOT NULL,
  category ENUM('NOTICE','FREE','QNA','REVIEW') NOT NULL,
  visibility_scope ENUM('PUBLIC','PRIVATE','FRIENDS') NOT NULL DEFAULT 'PUBLIC',
  likes_count INT DEFAULT 0 COMMENT '좋아요 수',
  comments_count INT DEFAULT 0 COMMENT '댓글 수',
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  deleted_at DATETIME DEFAULT NULL,
  member_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_category (category),
  INDEX idx_member_id (member_id),
  INDEX idx_created_at (created_at),
  INDEX idx_likes_count (likes_count),
  INDEX idx_comments_count (comments_count),
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 6. post_image 테이블 (게시물 이미지)
CREATE TABLE IF NOT EXISTS post_image (
  post_image_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  image_path VARCHAR(500) NOT NULL,
  image_order INT DEFAULT 0 COMMENT '이미지 순서',
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  post_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_post_id (post_id),
  FOREIGN KEY (post_id) REFERENCES post(post_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 7. badge 테이블 (배지 마스터)
CREATE TABLE IF NOT EXISTS badge (
  badge_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  badge_name VARCHAR(100) NOT NULL,
  description VARCHAR(500),
  badge_condition VARCHAR(255) COMMENT '배지 획득 조건',
  icon_path VARCHAR(500),
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 8. member_badge 테이블 (회원 보유 배지)
CREATE TABLE IF NOT EXISTS member_badge (
  member_badge_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  acquired_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  member_id BIGINT UNSIGNED NOT NULL,
  badge_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_member_id (member_id),
  INDEX idx_badge_id (badge_id),
  UNIQUE KEY unique_member_badge (member_id, badge_id),
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE,
  FOREIGN KEY (badge_id) REFERENCES badge(badge_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 9. member_disease 테이블 (회원 질병 정보)
CREATE TABLE IF NOT EXISTS member_disease (
  member_disease_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  disease_name VARCHAR(50) NOT NULL,
  description VARCHAR(300),
  member_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_member_id (member_id),
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 10. member_allergy 테이블 (회원 알레르기 정보)
CREATE TABLE IF NOT EXISTS member_allergy (
  allergy_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  allergy_name VARCHAR(100) NOT NULL,
  notes TEXT,
  member_id BIGINT UNSIGNED NOT NULL,
  INDEX idx_member_id (member_id),
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 11. post_like 테이블 (게시물 좋아요)
CREATE TABLE IF NOT EXISTS post_like (
  like_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY COMMENT '좋아요 ID',
  post_id BIGINT UNSIGNED NOT NULL COMMENT '게시글 ID',
  member_id BIGINT UNSIGNED NOT NULL COMMENT '좋아요 누른 사용자 ID',
  UNIQUE KEY unique_post_member (post_id, member_id),
  INDEX idx_post_id (post_id),
  INDEX idx_member_id (member_id),
  FOREIGN KEY (post_id) REFERENCES post(post_id) ON DELETE CASCADE,
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 12. post_comment 테이블 (게시물 댓글)
CREATE TABLE IF NOT EXISTS post_comment (
  comment_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY COMMENT '댓글 ID',
  post_id BIGINT UNSIGNED NOT NULL COMMENT '게시글 ID',
  member_id BIGINT UNSIGNED NOT NULL COMMENT '작성자 ID',
  content TEXT NOT NULL COMMENT '댓글 내용',
  parent_comment_id BIGINT UNSIGNED NULL COMMENT '부모 댓글 ID (대댓글용)',
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP COMMENT '작성일',
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정일',
  deleted_at DATETIME NULL COMMENT '삭제일',
  INDEX idx_post_id (post_id),
  INDEX idx_member_id (member_id),
  INDEX idx_parent_comment_id (parent_comment_id),
  FOREIGN KEY (post_id) REFERENCES post(post_id) ON DELETE CASCADE,
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE,
  FOREIGN KEY (parent_comment_id) REFERENCES post_comment(comment_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 13. friend 테이블 (친구 관계)
CREATE TABLE IF NOT EXISTS friend (
  friend_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY COMMENT '친구 관계 ID',
  member_id BIGINT UNSIGNED NOT NULL COMMENT '요청한 회원 ID',
  friend_member_id BIGINT UNSIGNED NOT NULL COMMENT '친구 회원 ID',
  status ENUM('PENDING', 'ACCEPTED', 'BLOCKED') DEFAULT 'PENDING' COMMENT '친구 상태',
  UNIQUE KEY unique_friendship (member_id, friend_member_id),
  INDEX idx_member_id (member_id),
  INDEX idx_friend_member_id (friend_member_id),
  INDEX idx_status (status),
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE,
  FOREIGN KEY (friend_member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ============================================
-- 14. weight_log 테이블 (체중 기록) 🆕
-- ============================================
-- 추가일: 2026-01-09
-- 목적: 체중 변화 추이 추적 (통계/그래프용)
-- 차이점: members.weight_kg는 최근 체중 캐시, weight_log는 날짜별 기록
-- 성능: (member_id, recorded_date) 복합 인덱스로 빠른 조회
-- ============================================
CREATE TABLE IF NOT EXISTS weight_log (
  -- 기본키
  weight_log_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY COMMENT '체중 기록 ID',
  
  -- 외래키
  member_id BIGINT UNSIGNED NOT NULL COMMENT '회원 ID (FK → members)',
  
  -- 체중 정보
  weight_kg DECIMAL(5,2) NOT NULL COMMENT '측정 체중 (kg)',
  recorded_date DATE NOT NULL COMMENT '측정 날짜',
  memo TEXT COMMENT '메모 (기분, 특이사항 등)',
  
  -- 타임스탬프
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 시간',
  
  -- 인덱스 (날짜별, 회원별 조회 최적화)
  INDEX idx_member_id (member_id) COMMENT '회원별 체중 조회용',
  INDEX idx_recorded_date (recorded_date) COMMENT '날짜별 체중 조회용',
  INDEX idx_member_date (member_id, recorded_date) COMMENT '복합 인덱스: 주간/월간 통계 최적화',
  
  -- 외래키 제약 (회원 삭제 시 체중 기록도 삭제)
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT='체중 기록 (6개 컬럼, 2026-01-09 추가)';

-- ============================================
-- 15. friend_group 테이블 (친구 그룹) 🆕
-- ============================================
-- 추가일: 2026-01-19
-- 목적: 친구를 그룹으로 묶어 관리 (가족, 학교, 헬스장 친구 등)
-- 기능: 그룹별 영양 점수 비교, 함께 운동 기록
-- ============================================
CREATE TABLE IF NOT EXISTS friend_group (
  -- 기본키
  group_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY COMMENT '그룹 ID',
  
  -- 그룹 정보
  group_name VARCHAR(50) NOT NULL COMMENT '그룹 이름 (예: 가족, 학교 친구)',
  creator_member_id BIGINT UNSIGNED NOT NULL COMMENT '그룹 생성자 회원 ID',
  
  -- 타임스탬프
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '그룹 생성일',
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '최종 수정일',
  
  -- 인덱스
  INDEX idx_creator (creator_member_id) COMMENT '생성자별 그룹 조회용',
  
  -- 외래키 제약 (생성자 삭제 시 그룹도 삭제)
  FOREIGN KEY (creator_member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT='친구 그룹 (5개 컬럼, 2026-01-19 추가)';

-- ============================================
-- 16. group_member 테이블 (그룹-멤버 매핑) 🆕
-- ============================================
-- 추가일: 2026-01-19
-- 목적: 친구 그룹에 속한 회원들 관리 (다대다 관계)
-- 제약: 한 그룹에 같은 회원 중복 불가 (UNIQUE)
-- 비즈니스 규칙: 그룹 생성자의 친구만 추가 가능 (API에서 검증)
-- ============================================
CREATE TABLE IF NOT EXISTS group_member (
  -- 기본키
  group_member_id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY COMMENT '그룹 멤버 ID',
  
  -- 매핑 정보
  group_id BIGINT UNSIGNED NOT NULL COMMENT '그룹 ID (FK → friend_group)',
  member_id BIGINT UNSIGNED NOT NULL COMMENT '회원 ID (FK → members)',
  -- 주의: member_id는 반드시 creator의 friend여야 함 (API에서 검증)
  
  -- 타임스탬프
  joined_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '그룹 가입일',
  
  -- 유니크 제약 (한 그룹에 같은 회원 중복 방지)
  UNIQUE KEY unique_group_member (group_id, member_id),
  
  -- 인덱스
  INDEX idx_group_id (group_id) COMMENT '그룹별 멤버 조회용',
  INDEX idx_member_id (member_id) COMMENT '회원별 그룹 조회용',
  
  -- 외래키 제약
  FOREIGN KEY (group_id) REFERENCES friend_group(group_id) ON DELETE CASCADE,
  FOREIGN KEY (member_id) REFERENCES members(member_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
COMMENT='그룹-멤버 매핑 (4개 컬럼, 2026-01-19 추가)';

-- ============================================
-- 초기 데이터: 테스트 계정 생성
-- ============================================
-- 비밀번호: 모두 "password" (bcrypt 해시)
-- 해시: $2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewY5lBjFYVJP3NmW
-- ============================================
INSERT INTO members (login_id, nickname, email, password_hash, member_name, phone_number, birth_date, gender, region, member_status, terms_agreed) VALUES 
('test', '테스터', 'test@test.com', '$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewY5lBjFYVJP3NmW', '테스트사용자', '010-1234-5678', '1990-01-01', 'M', '서울', 'ACTIVE', 1),
('admin', '관리자', 'admin@ttm.com', '$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewY5lBjFYVJP3NmW', '관리자', '010-9999-9999', '1985-05-15', 'M', '서울', 'ACTIVE', 1)
ON DUPLICATE KEY UPDATE member_id=member_id;

-- ============================================
-- 스키마 생성 완료 메시지
-- ============================================
SELECT 
  '✅ TTM 데이터베이스 스키마 생성 완료!' as status,
  '14개 테이블 생성됨' as tables,
  '2개 테스트 계정 추가됨 (test, admin)' as accounts,
  'password: password (모든 테스트 계정)' as default_password;

